<nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home </a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">contact</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a></li>
      <li><a routerLink="/student-list" routerLinkActive="active">Students</a></li>
      <li><a routerLink="/add-student" routerLinkActive="active">Add student</a></li>
      <li><a routerLink="/edit-student/2" routerLinkActive="active">Edit Student</a></li>
    </ul>
  </nav>