<nav>
  <a>Logo</a>
    <ul>
      <li><a routerLink="/site/home" routerLinkActive="active">Home </a></li>
      <li><a routerLink="/site/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/site/contact" routerLinkActive="active">contact</a></li>
      <li><a routerLink="/auth/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/auth/sign-up" routerLinkActive="active">Sign Up</a></li>
      <li><a routerLink="/student/student-list" routerLinkActive="active">Students</a></li>
      <li><a routerLink="/student/add-student" routerLinkActive="active">Add student</a></li>
      <li><a routerLink="/student/edit-student/2" routerLinkActive="active">Edit Student</a></li>
    </ul>
  </nav>